html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

a {
    text-decoration: none;
    color: #333;
  }
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav li {
    margin-right: 20px;
  }

  nav a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
  nav a:hover{
    background-color: #f8f8ff;
  }
  .logo {
    font-size: 24px;
  }

  .logo span {
    font-weight: normal;
    color: #999;
  }

  main {
    margin-top: 80px;
    padding: 40px 0;
  }

  section {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  section p {
    font-size: 16px;
  }
  #hero {
    background-color: #f8f8ff;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
  }

  .about-hero {
    margin-left: 40px;
  }

  .about-hero h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #999;
  }

  .about-hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .about-hero h3 {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
  }
  #skills ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #skills li {
    box-shadow: 10px 10px lightblue;
    width: 335px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: brightness(10px);
  }

  #skills h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #skills p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  #work p {
    margin-top: 20px;
  }
  #testimonials p {
    margin-top: 20px;
  }

  #contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
#contact h3{
    font-weight: light;
}
  #contact ul li h4 {
    margin-left:auto;
    font-weight: lighter;
  }
